body {
  background-image: url(bg.jpg);
  display: block;
  margin: auto;
  font-family: "Josefin Sans", sans-serif;
  color: #000000;
}
.toast-body a {
  text-decoration: none;
  color: #ff0000;
}
.toast-body a:hover {
  color: #0095ff;
}
.card {
  opacity: 0.8;
}
.card img {
  max-width: 120px;
}
.form-control {
  font-size: 1rem;
}
div .my-toast .btn-close {
  font-size: 18px;
}
